<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tech Shop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <!--<h1>Un cliente</h1>
        <p>Nombre: <span th:text="${cliente.nombre}"></span></p> <!--<p th:text="${mensaje}"></p> <! para atributos del modelo se coloca entre comillas, signo dólar y corchetes 
        <p>Apellidos: <span th:text="${cliente.apellidos}"></span></p>
        <p>Correo: <span th:text="${cliente.correo}"></span></p>
        <p>Teléfono: <span th:text="${cliente.telefono}"></span></p>
        <br>
        <br>-->
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${clientes}"> <!<!-- item variable temporal en cada iteración -->
                    <td th:text="${item.nombre}"></td>
                    <td th:text="${item.apellidos}"></td>
                    <td th:text="${item.correo}"></td>
                    <td th:text="${item.telefono}"></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
